.Pokecard {
  width: 24%;
  background: grey; 
  margin: 5px; 
  text-align: center;
  color: #fff; 
  border-radius: 25px; 
  flex: 1 1 24%;
  transition: 500ms;

  &:hover {
    img {
        transform: scale(1.2);
       
      }
  }
}